.osc-choice-plane-plane {

  position: relative;
  width: 180px;
  height: 180px;

  .osc-point {
    position: absolute;
    top: 50px;
    left: 50px;
    margin: -11px 0 0 -11px;
    width: 20px;
    height: 20px;
    border: 10px solid #ec0000;
    border-radius: 10px;
  }

  .osc-choice-plane-background {
    position: relative;
    float: left;
    width: 89px;
    height: 89px;

    .osc-choice-plane-background-image {
      width: 80px;
      height: 80px;
      border: 0px solid #fefefe;
      border-radius: 40px;
      background-size: cover;
    }

    &.osc-bg-1 {
      border-right: 1px solid black; 
      border-bottom: 1px solid black;
      padding-right: 9px;
      padding-bottom: 9px;
    }

    &.osc-bg-2 {
      border-left: 1px solid black; 
      border-bottom: 1px solid black; 
      padding-left: 9px; 
      padding-bottom: 9px;
    }

    &.osc-bg-3 {
      border-right: 1px solid black; 
      border-top: 1px solid black; 
      padding-right: 9px; 
      padding-top: 9px;
    }

    &.osc-bg-4 {
      border-left: 1px solid black; 
      border-top: 1px solid black; 
      padding-left: 9px; 
      padding-top: 9px;
    }

  }

}
