.osc-type-plane {
  .osc-accordeon-content {
    margin: 18px;
    @media @phone {
      margin: 18px 25%;
    }
  }
}

.osc-choices-container {
  .osc-choice-plane-plane {

    position: relative;
    width: 100%;
    height: auto;

    .osc-point {
      position: absolute;
      top: 50px;
      left: 50px;
      margin: -11px 0 0 -11px;
      width: 20px;
      height: 20px;
      border: 10px solid #bed200;
      border-radius: 10px;
    }

    .osc-choice-plane {
      position: relative;
      width: 100%;
      height: auto;
      float: left;
    }

    .osc-choice-plane-background-image {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

  }
}
