.osc-result {

  @phone: ~'only screen and (max-width: 940px)';
  
  position: relative;
  width: 100%;
  max-width: 700px;
  padding: 20px 0;
  font-size: 16px;
  background-color: white;

  @media @phone {
    width: 100%;
    max-width: 100%;
    padding: 20px 15px;
  }

  h2 {
    margin: 40px 0;
    padding: 0;
  }

  h3 {
    margin: 0 0 10px 0;
    padding: 0;
  }

  .osc-form {

    position: relative;
    width: 100%;
    padding: 0;
    font-size: 16px;
    background-color: white;


    .osc-form-intro {
      margin-top: 20px;
    }

  }

  .osc-more-info-link {
    margin: 20px 0;
    a {
      .osc-arrow-right-blue-background();
      color: #004699;
      padding-left: 20px;
      font-weight: bold;
    }
  }

  .osc-choices-container {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 40px;
    background-color: white;

    h4 {
      text-align: left;
      margin-bottom: 10px;
    }

    .osc-accordeon-button {
      display: none;
    }

    ul.osc-choices {

      li {
        padding: 25px 0;
        border-bottom: none;
      }

      .osc-choice-default {

        .osc-choice-bar {
          height: 22px;
          border-radius: 11px;
          background-color: #e5e5e5;

          .osc-choice-bar-progress {
            height: 22px;
          }

          &.osc-from-center:after {
            top: -5px;
            height: 32px;
          }

        }
      }

    }

  }

  .osc-type-plane {
    width: 90%;
    @media @phone {
      width: 100%;
    }
  }
  
  .osc-choices {
    &.osc-choice-plane-plane {

      margin-top: ;
      margin: 30px 0 40px 0;

      .osc-point {
        margin: -34px 0 0 -34px;
        width: 66px;
        height: 66px;
        border: 33px solid #bed200;
        border-radius: 33px;
      }

    }
  }

  .osc-explanation {

    margin-top: 20px;

    .osc-image {
      display: block;
      width: 660px;
      height: 350px;
      margin-top: 15px;
      margin-bottom: 15px;
    }

  }

  .osc-newsletter {
    margin-top: 40px;
  }

  .osc-sharebuttons {
    margin-top: 40px;
  }

  .osc-require-login {

    margin-bottom: 40px;

    h2 {
      margin-bottom: 10px;
    }

    .osc-gray-block {
      background-color: #f6f7f7;
    }

    .osc-button-white {
      .osc-button-white();
    }

    &.osc-not-yet-logged-in {

      &.osc-error {

        .osc-button-white {
          border-width: 2px;
          border-color: #ea1d25;
        }

        .osc-message {
          margin-top: 20px;
          padding: 10px;
          color: #ea1d25;
          border: solid 2px #ea1d25;
        }

      }

    }

    &.osc-logged-in {

      .osc-button-white {
        border-width: 2px;
      }

      .change-login-link-text {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: smaller;
        a { text-decoration: underline; }
      }

      &.osc-success {

        .osc-message {
          padding: 10px;
          color: #00a03c;
          border: solid 2px #00a03c;
        }

      }

      &.osc-error {

        .osc-button-white {
          color: black;
          border-width: 2px;
          border-color: black;
        }

        .osc-message {
          padding: 10px;
          color: #ea1d25;
          border: solid 2px #ea1d25;
        }

      }

    }

  }

}

